@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Poppins');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Poppins');


body{
    font-family: 'Poppins', Helvetica, sans-serif;
}

@media(max-width: 763px){
  .contenedor2{
    margin-top: 20px;
  }
}

.normal-text{
  font-family: 'Poppins';
  color: #252525;
  font-weight: 400;
  font-size: 14px;
}

.Primary-title{
    font-family: 'Playfair Display';
    font-size: 28px;
    font-weight: 700;
    color: #252525;

}

.Secondary-title{
    font-family: 'Playfair Display';
    color: #252525;
    font-size: 20px;
}

.Tertiary-title{
  font-family: 'Poppins';
  font-size: 20px;
  color: #252525;
}

.add-title{
  font-family: 'Playfair Display';
  color: #252525;
  font-size: 32px;
  margin-top:-10px;
  font-weight: 700;
  text-align: center;
}

.primary-button{
    background-color: #252525;
    color: #FBEFF3;
    font-size: 16px;
    padding-left: 30px !important;
    padding-right: 30px !important;
    height: 40px;
    border: none;

    margin-top: 5px;
}

.primary-button:hover{
    background-color: #FC7CA0;
}

/*Trending now-------------------------------------------------------*/

.img-home{
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding: 0px !important;
}

.product-title{
    font-size: 20px;
}

.price-home{
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 40px;
}

.product-title:hover{
  color: #FC7CA0;
}

.spacer{
    margin-bottom: 25px;
}

#trending img {
  width: 100%;
  height: auto;
  transition: all 0.3s ease-in-out;
  }

  #trending img:hover {
  display: block;
  z-index: 100;
  opacity: 0.70;
  }


/*best seller------------------------------------------------*/


#best-sellers button{
    float: right;
    margin-top: -70px;
    margin-right: 30px;
    position: relative;
    z-index: 0;
}

#best-sellers img{
  position: relative;
  padding: 0px !important;
  width: 100%;
  z-index: -1;
}

/*carousel-------------------------------------------*/
.carousel-control.left, .carousel-control.right {
    background-image:none !important;
    filter:none !important;
 }

 #carrusel{
   margin-top: 15px;
     margin-bottom: 25px;
 }

 /*hero handbag--------------------------------------------------------*/
#hero-handbag{
  margin-top: 10px;
  margin-bottom: 25px;
}

#hero-handbag img{
  margin-top: 10px;
  width: 100%;
}

/* products page ---------------------------------*/
.products-title{
  font-family: 'Poppins';
  font-size: 16px;
  color: #252525;
}

a:hover{
  text-decoration: none;
}

.products-title:hover{
  color: #FC7CA0;
}

.products-price{
  font-family: 'Poppins';
  font-size: 14px;
  color: #252525;
  font-weight: 300;
  margin-bottom: 40px;
}

#handbags img{
  width: 100%;
  height: auto;
}

#handbags img {
  width: 100%;
  height: auto;
  transition: all 0.3s ease-in-out;
  }

  #handbags img:hover {
  display: block;
  z-index: 100;
  opacity: 0.70;
  }




/* Product details thumbnail gallery -------------------------------------*/
.image-gallery {
  margin: 0 auto;
  display: table;
}

.image-gallery a{
  border:0px;
  padding: 0px;
}

.primary,
.thumbnails {
  display: table-cell;
}

.thumbnails {
  width: 200px;

}

.primary {
  width: 375px;
  height: auto;
  background-color: #cccccc;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.thumbnail:hover .thumbnail-image, .selected .thumbnail-image {
  border: 4px solid pink;
}

.thumbnail-image {
  width: 110.4px;
  height: 140px;
  margin: 20px auto;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border: 4px solid transparent;
}


/*product details texto/precio/etc ----------------------------*/
.pdetails-title{
  font-family: 'Poppins';
  font-size: 20px;
  color: #252525;
  font-weight: 500;
}

.pdetails-precio{
  font-family: 'Poppins';
  font-size: 18px;
  font-weight: 400;
  color: #252525;
}

.free-shipping{
  color: #FC7CA0;
}

#product-details{
  margin-top: 50px;
}

.product-details h3{
  margin-top: 100px;
}

.titulitos{
  font-family: 'Poppins';
  font-size: 16px;
  color: #252525;
  font-weight: 500;
}

.product-color{
  border: 1px solid lightgray;
  border-radius: 50px;
}

.product-color:hover{
  border: 1px solid #252525;
  border-radius: 50px;
}

.cantidad{
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left:5px;
  padding-right:5px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
   opacity: 1 !important;
}

@media(max-width: 425px){
  .espacio-titulo{
    margin-top: 50px;
    text-align: center;
  }

  .thumbnail-image {
    width: 61.6px;
    height: 78.4px;
    margin: 10px auto;
  }

  .thumbnails {
    width: 100px;
  }

}

/* product details --> description, etc --------------------------- */
.product-description-handbags{
  background-color: #F8BAC9;
  margin-top: 60px;
  margin-bottom: -60px;
  padding:40px;
}

.details-titles{
  margin-top: 25px;
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: 500;
  color: #252525;
}

.details-description{
  font-family: 'Poppins';
  font-size: 14px;
  font-weight: 400;
  color: #252525;
}

.centrar-texto{
  position: relative;
  display: inline-block;
  padding: 50px;
}

@media(max-width: 768px){
  .details-titles{
    text-align: center;
  }

  .details-description{
    text-align: center;
  }
}



/*sign in ----------------------------------------------------------------------*/
.signin-button{
  background-color: #252525;
  color: #FBEFF3;
  font-size: 16px;
  width: 100%;
  height: 40px;
  border: none;
  margin-top: 20px;
}

.signin-button:hover{
  color: #f8baca;
}

#signin{
  margin-top: 50px;
}

#sign-in{
   margin-top: 50px;
}

.iniciar{
   display: inline-block;
   background-color: #f8baca;
   padding-top: 40px;
   padding-bottom: 40px;
}

.crear{
   display: inline-block;
   background-color: #FCEFF3;
   padding-top: 40px;
   padding-bottom: 40px;
}

.form-signin{
   padding-left: 15px;
   height: 40px;
   width: 100%;
   border: 1px solid #252525;
   margin-bottom: 10px;
}

.input-title{
   margin: 0;
   font-size: 14px;
   padding-bottom: 5px;
   font-family: "Poppins";
}

.product-input-title{
  font-weight: 500;
}

.espacio-arribita{
  padding-top: 25px;
  padding-bottom: 35px;
}

.sign-container{
  background-color: #f8baca;
  width: 100%;
  height: 550px;
  padding-top: 30px;
  padding-left: 70px;
  padding-right: 70px;
}

.create-container{
  background-color: #fbeff3;
  width: 100%;
  height: 550px;
  padding-top: 30px;
  padding-left: 70px;
  padding-right: 70px;
}

@media(max-width: 990px){
  .sign-container{
  padding-bottom: 70px;
  height: auto;
  margin-bottom: 40px;

  }

  .create-container{
  padding-bottom: 70px;
  height: auto;
  }


}

/*banners / profile / manage users /--------------------------------------------*/

.hidden-file-input {
  width: 200px;
}

.inventory-title p{
  font-weight: 500;
  font-size: 18px;
  padding-bottom: 5px;
}

.users-title p{
  font-weight: 500;
  font-size: 16px;
}

.users-info p{
  font-size: 16px;
}

@media(max-width:425px){
  .users-title p{
    font-weight: 500;
    font-size: 14px;
  }

  .users-info p{
    font-size: 14px;
  }
}

.upload-new-pic{
  font-size: 18px;
}

.subir-foto h2{
  padding-bottom: 15px;
}

.thumbnail-tiny{
  width: 75px;
  height: auto;
}

.thumbnail-profile{
  padding: 10px;
  width: 300px;
  height: auto;
}

.admin-title {
  display: flex;
  justify-content: center;
  font-family: 'Playfair Display';
  font-weight: 600;
  color: #252525;
}

.profile-title {
  display: flex;
  font-family: 'Playfair Display';
  font-weight: 700;
  font-size: 28px;
  color: #252525;
  padding-left: 10px;
  padding-top: 50px;
  padding-bottom: 15px;
}

.cerrar-bonito{
  display: flex;
  margin-left: 10px;
  margin-bottom: 20px;
}

.user-photos{
  justify-content: center;
  align-items: center;
}

.current-photos,
.uploaded{
  padding: 10px;
}


.uploaded {
  display: flex;
  align-items: center;
}
.uploaded * {
  margin-right: 15px;
}

.uploaded p {
  margin-bottom: 0px;
  font-size: 18px;
}

.underline-pink{
  text-decoration: underline !important;
}

.underline-pink:hover, .underline-pink:link, .underline-pink:active, .underline-pink:visited{
  text-decoration: underline !important;
  color: #FC7CA0;
}


.rose-link {
  appearance: none;
  -moz-appearance: none;
  -ms-progress-appearance: none;
  -webkit-appearance: none;
  border: 0px solid transparent;
  display: inline-block;
  color: #FC7CA0;
  text-decoration: underline;
  display: inline-block;
}
label.rose-link {
  font-weight: 400;
  cursor: pointer;
}

.dark-link {
  appearance: none;
  -moz-appearance: none;
  -ms-progress-appearance: none;
  -webkit-appearance: none;
  border: 0px solid transparent;
  display: inline-block;
  color: #252525;
  text-decoration: underline;
  display: inline-block;
}

.admin-options {
  padding: 40px 0px;
}

.subir-foto input {
  display: inline-block;
  width: 220px;
}

.users-info .icon {
  margin-left: 30px;
}

.personal-info .input-group {
  margin-bottom: 20px;
  width: 100%;
}

.input-group label {
  font-weight: 400;
}

.input-group input,
.input-group select {
  border-color:#252525;
  border-radius: 0;
}

.button-wrapper {
  text-align: right;
}


.hide-input input {
  width: 0px;
  height: 0px;
  opacity: 0;
  display: inline-block;
}

/*Product type-----------------------------------------------------------------*/
.icon-resize{
  height: 70px;
  margin-bottom: 25px;
}

.icon-resize-wallet{
  height: 50px;
  vertical-align: center;
  margin-top: 18px;
  margin-bottom: 25px;
}

#product-category{
  margin-top: 70px;
}


@media(max-width: 989px){
  .icon-resize{
    margin-top: 18px;
  }

}

.space{
  margin-bottom: 20px;
}

/* General ------------------------------*/

.outline-button{
  background-color: white;
  border-color: #FC7CA0;
  color: #FC7CA0;
  font-size: 16px;
  height: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

.outline-button:hover{
  background-color: white;
  border-color: #252525;
  color: #252525;
}

.white-link
{
  padding-top: 10px;
  color: #ffff;
}

.white-link:hover{
  color: #252525;
}


/* Add product -------------------------*/
#signin-center article{
  padding-left: 0px;
  padding-right: 0px;
}



/*Footer admin-----------------------------------------------------------------*/

.pie-admin{
  background-color: #fbeff3;
  padding-bottom: 20px;
  margin-top: 60px;
}

.margen-footer-p
{
  margin-bottom: 385px;
}

.margen-footer-b
{
  margin-bottom: 200px;
}


.margen-header-p
{
  margin-top: 100px;
}


/*footer---------------------------------------*/

.footer{
    padding-top: 50px;
    padding-bottom: 10px;
    background-color: #fbeff3;
    margin-top: 60px;
}



.form-input{
    padding-left: 15px;
    height: 40px;
    width: 250px;
    border: 1px solid #252525;
}

#copyright-text{
    margin-top: 40px;
    font-size: 12px;
    color: #404040;
    font-weight: 100;
}


























 /*------------------------------------------------------------------
    [Header]
------------------------------------------------------------------*/

/* -- Cambios al header */
.mover-derecha{
    margin-left:150px;
  }
  @media (max-width: 1024px) {
    .mover-derecha{
      margin-left: 245px;
    }
  }
  @media (max-width: 962px) {
    .mover-derecha{
      margin-left: 200px;
    }
  }
  @media (max-width: 888px) {
    .mover-derecha{
      margin-left: 200px;
    }
  }




/* Fixed Top */
.navbar-fixed-top .navbar-collapse {
    max-height: 100%;
  }

  /* Navbar */
  .header .navbar {
    margin-bottom: 0;
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
    background-color: #fbeff3;
    box-shadow: 0px 3px 6px rgba(158,158,158,0.05);
  }

  /* Navbar Toggle */
  .header .navbar-toggle {
    width: 20px;
    height: 20px;
    border: none;
    padding: 0;
    margin: 35px 0;
  }

  .header .navbar-toggle .toggle-icon {
    position: relative;
    width: 21px;
    height: 1px;
    display: inline-block;
    background: #515769;
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  }

  .header .navbar-toggle .toggle-icon:before, .header .navbar-toggle .toggle-icon:after {
    position: absolute;
    left: 0;
    background: #515769;
    content: " ";
  }

  .header .navbar-toggle .toggle-icon:before {
    width: 10px;
    height: 1px;
    bottom: 10px;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    transform: rotate(0);
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  }

  .header .navbar-toggle .toggle-icon:after {
    width: 16px;
    height: 1px;
    top: -5px;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    transform: rotate(0);
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  }

  .header .navbar-toggle:hover .toggle-icon {
    background: #FFB4BB;
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  }

  .header .navbar-toggle:hover .toggle-icon:before, .header .navbar-toggle:hover .toggle-icon:after {
    width: 21px;
    height: 1px;
    background: #FFB4BB;
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  }

  .header .navbar-toggle:hover .toggle-icon.is-clicked {
    background: #fbeff3;
  }

  /* Menu Container */

  .header .menu-container:before, .header .menu-container:after {
    content: " ";
    display: table;
  }
  .header .menu-container:after {
    clear: both;
  }

  /* Navbar Logo */
  .header .logo {
    width: 150px;
    height: 150px;
    float: left;
    max-height: 95px;
    line-height: 65px;
  }

  .header .logo-wrap {
    display: inline-block;
    padding: 15px 0;
  }

  .header .logo-wrap:focus, .header .logo-wrap:hover {
    text-decoration: none;
  }

  .header .logo-img {
    display: inline-block;
    width: 146px;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
  }

  .header .logo-img-main {
    display: inline-block;
    transition-duration: 400ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  }

  .header .logo-img-active {
    display: none;
    transition-duration: 400ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  }

  /* Navbar */
  .header .navbar-nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }

  /* Nav */
  .header .nav-item {
    position: relative;
    display: block;
  }

  .header .nav-item:last-child .nav-item-child {
    padding-right: 0;
  }

  .header .nav-item .nav-item-hover.active:after {
    opacity: 1;
    transition-duration: 400ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  }

  .header .nav-item:hover .nav-item-hover:after {
    opacity: 1;
    transition-duration: 400ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  }

  .header .nav-item-child {
    position: relative;
    display: block;
    font-size: 13px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    color: #262425;;
    text-transform: uppercase;
    line-height: 15px;
    padding: 20px;
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  }

  .header .nav-item-child:hover, .header .nav-item-child:focus {
    background: #fbeff3;
    color: #FFB4BB;
  }

  .header .nav-item-hover {
    position: relative;
  }

  .header .nav-item-hover:after {
    position: absolute;
    color: #FFB4BB;
    top: 45px;
    left: 0;
    width: 9px;
    height: 2px;
    opacity: 0;
    content: " ";
    transition-duration: 400ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  }

  .elementos-menu{
    position:absolute;
    top:20px;
    left:55%
  }


  /* Media Queries below 767px */
@media(max-width: 1054px){
    .elementos-menu{
        position:absolute;
        top:20px;
        left:40%
      }
}



@media(max-width: 798px){
    .elementos-menu{
        position:absolute;
        top:20px;
        left:28%;
      }
}


@media(max-width:385px){
  #dialogo {
    position: fixed;
    display: none;
    background-color: #fbeff3;
    width:250px;
    height: 310px;
    padding: 50px;
    border-radius: 18px;
    z-index: 10001;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 30px 70px rgba(0,0,0,0.6);
    text-align: center;
    font-family: "Poppins",Arial, sans-serif;
  }

  #dialogo #cerrar {
    position: absolute;
    display: inline-block;
    top: 30px;
    right: 30px;
  }

  #dialogo img{
    width: 30%;
  }

  #cerrar{
    width: 50px;
    height: 50px;
  }


  #dialogo2 {
    position: fixed;
    display: none;
    z-index: 10001;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Poppins",Arial, sans-serif;
    border-radius: 18px;
    background-color: #fbeff3;
    padding: 20px;
    box-shadow: 0px 30px 70px rgba(0,0,0,0.6);
    width: 250px;
    padding-left: 40px;
    padding-right: 40px;
}

  #dialogo2 h3{
    font-family: "Eufoniem One";
    font-size: 35px;
    padding-bottom: 20px;
  }

  #dialogo2 #cerrar2{
    position: absolute;
    display: inline-block;
    top: 30px;
    right: 5px;
  }

  #dialogo2 img{
    width:30%;
  }

  #cerrar2{
    width: 50px;
    height: 50px;
  }


#dialogo3 {
   position: fixed;
   display: none;
   z-index: 10001;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-family: "Proxima Nova",Arial, sans-serif;
   border-radius: 18px;
   background-color: #fbeff3;
   padding: 20px;
   box-shadow: 0px 30px 70px rgba(0,0,0,0.6);
   width: 250px;
   padding-left: 40px;
   padding-right: 40px;
}

 #dialogo3 h3{
   font-family: "Eufoniem One";
   font-size: 35px;
   padding-bottom: 20px;
 }

 #dialogo3 #cerrar3{
   position: absolute;
   display: inline-block;
   top: 30px;
   right: 5px;
 }

 #dialogo3 img{
   width:30%;
 }

 #cerrar3{
   width: 50px;
   height: 50px;
 }

#dialogo5 {
    position: fixed;
    display: none;
    background-color:#fbeff3;
    width:250px;
    height: 315px;
    padding: 50px;
    border-radius: 18px;
    z-index: 10001;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 30px 70px rgba(0,0,0,0.6);
    text-align: center;
    font-family: "Poppins",Arial, sans-serif;
  }

  #dialogo5 #cerrar5 {
    position: absolute;
    display: inline-block;
    top: 30px;
    right: 30px;
  }

  #dialogo5 img{
    width: 30%;
  }

  #cerrar5{
    width: 50px;
    height: 50px;
  }

 #volador{
  top:50%;
  border: 0;
  z-index: 1;
  position: fixed;
  display: block;
  background-color: #ffb4bb;
  color: #fbeff3;
  font-weight: 600;
  font-size: 15px;
  padding: 15px;
  border-radius: 0 13px 13px 0;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.15);
}

#volador:hover{
  background-color: #000;
}

#dialogo4 {
    position: fixed;
    display: none;
    background-color: #fbeff3;
    width:250px;
    height: 310px;
    padding: 50px;
    border-radius: 18px;
    z-index: 10001;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 30px 70px rgba(0,0,0,0.6);
    text-align: center;
    font-family: "Proxima Nova",Arial, sans-serif;
  }

  #dialogo4 #cerrar4 {
    position: absolute;
    display: inline-block;
    top: 30px;
    right: 30px;
  }

  #dialogo4 img{
    width: 30%;
  }

  #cerrar4{
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 767px) {
    /* Menu Container */
    .header .menu-container {
      padding-left: 15px;
      padding-right: 15px;
      margin-left: 0;
      margin-right: 0;
    }
    .header .navbar > .container {
      width: auto;
      padding-left: 0;
      padding-right: 0;
      margin-left: 0;
      margin-right: 0;
    }
    .header .navbar > .container > .nav-collapse {
      padding-left: 0;
      padding-right: 0;
      margin-left: 0;
      margin-right: 0;
    }
    .elementos-menu{
        position:relative;
        top:0;
        left:0;
      }
  }

  /* Media Queries above 992px */
  @media (min-width: 992px) {
    /* Navbar */
    .header .navbar-nav-right {
      float: right;
    }
  }

  /* Page On Scroll */
  @media (min-width: 992px) {
    .page-on-scroll .header .navbar {
      background: #fbeff3;
      border-bottom-color: #f0f0f0;
      transition-duration: 300ms;
      transition-property: all;
      transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
    }
    .page-on-scroll .header .logo-img-main {
      display: none;
      transition-duration: 400ms;
      transition-property: all;
      transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
    }
    .page-on-scroll .header .logo-img-active {
      display: inline-block;
      transition-duration: 400ms;
      transition-property: all;
      transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
    }
    .page-on-scroll .header .nav-item-child {
      color: #515769;
      transition-duration: 300ms;
      transition-property: all;
      transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
    }
  }


/*------------------------------------------------------------------
    [Header]END
------------------------------------------------------------------*/


/*------------------------------------------------------------------
    [Header]END
------------------------------------------------------------------*/


#overlay {
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.81);
  z-index: 10000;
}

#dialogo {
  position: fixed;
  display: none;
  background-color:#FCEFF3;
  width:350px;
  height: 300px;
  padding: 50px;
  z-index: 10001;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 30px 70px rgba(0,0,0,0.6);
  text-align: center;
  font-family: "Poppins",Arial, sans-serif;
}

#dialogo #cerrar {
  position: absolute;
  display: inline-block;
  top: 30px;
  right: 30px;
}

#dialogo img{
  width: 30%;
}

#cerrar{
  width: 50px;
  height: 50px;
}

.espaciador-de-menu {
  width: 100%;
  height: 100px;
}